<h2>
  {{model.name}} 
  {{#link-to 'edit_brainstorming' model.user_slug model.slug}}
    <span class="glyphicon glyphicon-pencil"></span>
  {{/link-to}}
  <a {{action 'destroy' model.user_slug model.slug}}>
    <span class="glyphicon glyphicon-remove"></span>
  </a>
</h2>

<table class="table table-striped" style="margin-top:15px;">
  <tbody>
{{#if anyIdeas}}
  {{#each ideas as |idea|}}
    <tr>
      <td>
        {{brainstorming-idea-cell selectedId=ideaId ideaId=idea.id ideaName=idea.name ideaText=idea.text leaveEditIdeaModeAction='leaveEditIdeaMode' reloadAction='reload'}}
      </td>
      <td>
        <a {{action 'editIdea' idea.id}}>
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </a>
         | 
        <a {{action 'destroyIdea' idea.id idea.user_id}} class="remove_idea_link">
          <span class="glyphicon glyphicon-remove"></span> Remove
        </a>
      </td>
    </tr>
  {{/each}}
{{else}}
    <tr>
      <td colspan="2">No ideas found.</td>
    </tr>
{{/if}}
{{#if newIdeaMode}}
    <tr>
      <td>
        {{brainstorming-idea-cell userSlug=userSlug slug=slug reloadAction='reload' leaveNewIdeaModeAction='leaveNewIdeaMode'}}
      </td>
      <td>
      </td>
    </tr>
{{/if}}
  </tbody>
</table>

<a {{action 'newIdea'}}><span class="glyphicon glyphicon-plus"></span> New Idea</a>