<div id="reload_alert" class="alert alert-info alert-dismissible" role="alert" style="display:none;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span id="reload_alert_message"></span> 
  <a {{action 'reload'}}><span class="glyphicon glyphicon-refresh"></span> Reload</a>
</div>

<h2>
  {{model.name}} 
  {{#link-to 'edit_brainstorming' model.user_slug model.slug}}
    <span class="glyphicon glyphicon-pencil"></span>
  {{/link-to}}
  <a {{action 'destroy' model.user_slug model.slug}}>
    <span class="glyphicon glyphicon-remove"></span>
  </a>
</h2>

<table class="table table-striped" style="margin-top:15px;">
  <thead>
    <tr>
      <th>{{t 'general.author'}}</th>
      <th>{{t 'activerecord.models.brainstorming_idea_short' }}</th>
      <th></th>
      <th>{{t 'arguments.index.title' }}</th>
    </tr>
  </thead>
  <tbody>
{{#if anyIdeas}}
  {{#each ideas as |idea|}}
    <tr>
      <td>{{#link-to 'user_brainstormings' idea.user_slug 1}}{{idea.user_name}}{{/link-to}}</td>
      <td>
        {{brainstorming-idea-cell selectedId=ideaId ideaId=idea.id ideaName=idea.name ideaText=idea.text leaveEditIdeaModeAction='leaveEditIdeaMode' setDirtyAction='setDirty' reloadAction='reload'}}
      </td>
      <td>
        <a {{action 'editIdea' idea.id}} class="edit_brainstorming_idea_link">
          <span class="glyphicon glyphicon-pencil"></span> {{t 'general.edit'}}
        </a>
         | 
        <a {{action 'destroyIdea' idea.id idea.user_id}} class="remove_brainstorming_idea_link">
          <span class="glyphicon glyphicon-remove"></span> {{t 'general.remove'}}
        </a>
      </td>
      <td>
        <table class="table">
          <tbody>
    {{#each idea.arguments as |argument|}}
            {{brainstorming-idea-argument argument=argument.argument selectedId=argumentId id=argument.argument.id ideaId=idea.id topicName=argument.argument.topic_name value=argument.argument.value editAction='editArgument' leaveComposeArgumentModeAction='leaveComposeArgumentMode' setDirtyAction='setDirty' reloadAction='reload'}}
    {{/each}}        
            {{brainstorming-idea-argument selectedNewArgumentIdeaId=newArgumentIdeaId ideaId=idea.id newAction="newArgument" leaveComposeArgumentModeAction='leaveComposeArgumentMode' setDirtyAction='setDirty' reloadAction='reload'}}
          </tbody>
        </table>
      </td>
    </tr>
  {{/each}}
{{else}}
    <tr>
      <td colspan="2">{{t 'brainstormings.index.empty_collection'}}</td>
    </tr>
{{/if}}
{{#if newIdeaMode}}
    <tr>
      <td>
        {{brainstorming-idea-cell userSlug=userSlug slug=slug reloadAction='reload' leaveNewIdeaModeAction='leaveNewIdeaMode' setDirtyAction='setDirty'}}
      </td>
      <td>
      </td>
    </tr>
{{/if}}
  </tbody>
</table>

<a class="new_brainstorming_idea_link" {{action 'newIdea'}}><span class="glyphicon glyphicon-plus"></span> {{t 'brainstorming_ideas.new.title' }}</a>