<h2>{{name-with-apostrophe userName}} {{t 'brainstormings.index.title'}}</h2>

{{#if anyBrainstormings}}
<table class="table table-striped" style="margin-top:15px;">
  <tbody>
  {{#each brainstormings as |brainstorming|}}
    <tr>
      <td>
        {{#link-to 'brainstorming' brainstorming.user_slug brainstorming.slug}}{{brainstorming.name}}{{/link-to}}
      </td>
      <td>
        {{#link-to 'edit_brainstorming' brainstorming.user_slug brainstorming.slug}}
          <span class="glyphicon glyphicon-pencil"></span> {{t 'general.edit'}}
        {{/link-to}}
         | 
        <a {{action 'destroy' brainstorming.user_slug brainstorming.slug}} class="remove_brainstorming_link">
          <span class="glyphicon glyphicon-remove"></span> {{t 'general.remove'}}
        </a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{else}}
  {{t 'brainstormings.index.empty_collection'}}
{{/if}}

{{partial 'shared/pagination'}}

{{#link-to 'new_brainstorming' userSlug}}
  <span class="glyphicon glyphicon-plus"></span> 
  {{t 'brainstormings.new.title'}}
{{/link-to}}